.header-section{
    height: 80px;
    flex-shrink: 0;
    background: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
    

.header-anhor a {
    /* display: grid; */
    /* justify-content: space-between; */
    margin-right: 20px;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
    color: #FFF;
}